body {
    font: 10px sans-serif;
    margin: 0;
}
path.line {
    fill: none;
    stroke-width: 1.5px;
}
.axis {
    shape-rendering: crispEdges;
}
.x.axis line {
    stroke: #fff;
}
.x.axis .minor {
    stroke-opacity: .5;
}
.x.axis path {
    display: none;
}
.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}
.guideline {
    margin-right: 100px;
    float: right;
}
.title {
    margin: 2% 3%;
}
#legend {
    /* display: none; */
    width: 20%;
    border-style: solid;
    border-width: 1px;
    margin-left: 65px;
    padding: 0 1% 1% 1%;
}
#legend h3 {
    font-size: 16px;
}
#legend h4 {
    font-size: 12px;
    font-weight: 400;
}
#legend p, label {
    font-size: 12px;
    margin-left: 14px;
}
#legend label {
    font-weight: 600;
}
.eur {
    height: 10px;
    width: 10px;
    background-color: rgb(44, 160, 44);
}
.chf {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 127, 14);
}
.usd {
    height: 10px;
    width: 10px;
    background-color: rgb(31, 119, 180);
}